@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de séries favorita    </h1>
    <p>Projeto de POOII <a href="https://docs.microsoft.com/aspnet/core">Com tecnologia ASP.NET Core</a>.</p>
</div>
